<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/my-style.css">
    <link rel="stylesheet" href="static/bootstrap-icons/font/bootstrap-icons.min.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=MADE TOMMY:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;700&display=swap"
    />
  </head>
  <body>
    
    <div class="container-fluid">
      <div class="row my-container">
        <div class="col-sm-12 col-lg-6">
          <a href="javascript:history.back()"><i class="bi-arrow-left-circle fs-3 fb-text-primary fw-bold"></i></a>
          <div class="d-flex justify-content-center align-items-center h-75">
            <img src="static/images/logo-web.png" alt="" id="logo" class="me-3">
            <div class="fb-text-primary">
              <h1 class="fw-bold">SmartKonstituen</h1>
              <p class="fw-semibold">Pintar Memilih Pilihanmu</p>
              <div class="d-flex logo-mitra">
                <img class="img-fluid me-3" src="static/images/kampus-merdeka.png" alt="">
                <img class="img-fluid me-3" src="static/images/amikomp.png" alt="">
                <img class="img-fluid me-3" src="static/images/ISI.png" alt="">
                <img class="img-fluid me-3" src="static/images/uad.png" alt="">
                <img class="img-fluid me-3" src="static/images/amikomj.png" alt="">
                <img class="img-fluid" src="static/images/orbit.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-6 fb-bg-primary">
          <div class="form d-flex justify-content-center align-items-center h-100">
            <form action="/login" method="post">
                <p class="h3 fw-semibold text-white">Log in</p>
                <p class="text-white fw-light">Log in untuk menikmati konten sesuai dengan preferensi Anda.</p>
                <div class="mb-4">
                  <input type="text" class="form-control p-3" placeholder="Username">
                </div>
                <div class="mb-4">
                  <input type="password" class="form-control p-3" placeholder="Password">
                </div>
                <button type="button" class="btn btn-dark w-100 py-3 fw-semibold mb-3" onclick="window.location.href='/menu-utama'">Log In</button>
                <p class="text-center text-white">Belum punya akun? <a href="{{ url_for('register') }}" class="fw-semibold text-white text-decoration-none">Register di sini</a></p>
              </form>
          </div>
        </div>
      </div>
    </div>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
<!-- FullStack Ananda N email anandarahmawati025@gmail.com -->